body {
    margin: 0;
    background-color: #333;
    font-family: sans-serif;
    color: aliceblue;
    display: grid;
    min-height: 100vh;
    grid-template-rows: auto 1fr auto;
}

.footer {
    background-color: lightcoral;
    padding: 1em 0;
    text-align: center;
    position: bottom;
}