<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>hola wahaha</h1>
    <a href="/">Ir Home</a>
    <br><hr>
    <center>
    <a href="/insert_create">Ir insert</a>
    <br><hr>
    <a href="/select_read">Ir select</a>
    <br><hr>
    <a href="/update">Ir update</a>
    <br><hr>
    <a href="/delete">Ir delete</a>
    </center>
</body>
</html>