<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>hola wahaha</h1>
    <a href="/">Ir Home</a>
    <br><hr>
    <a href="/about">Ir About</a>
    <br><hr>
    <a href="/CRUD">Ir Lecarox</a>
</body>
</html>